<h1>Add Account</h1>

<form (ngSubmit)="onSubmit()" #userForm="ngForm">
    <label for="accountid">Account ID:</label><br>
    <input type="number" id="accountid" required [(ngModel)]="model.accountid" #name="ngModel"><br>
    <label for="name">Account Name:</label><br>
    <input type="text" id="name" required [(ngModel)]="model.name" #name="ngModel"><br>
    <label for="balance">Account ID:</label><br>
    <input type="number" id="balance" required [(ngModel)]="model.balance" #name="ngModel"><br>

    <button type="submit">Add Account</button>
</form>
