<h2>Accounts</h2>
<button (click)="onAddClicked()">Add Account</button>
<app-account-add *ngIf="addClicked"></app-account-add>


<ul class="accounts">
    <li *ngFor="let account of accounts">
        <button [class.selected]="account === selectedAccount" type="button" (click)="onSelect(account)">
            <span class="name">{{account.name}}</span>
            <span class="balance">{{account.balance}}</span>
        </button>
    </li>
</ul>

<button type="checkbox" (click)="switchShowDetails()">Show Account Details</button>

<app-account-details *ngIf="showDetails" [account]="selectedAccount"></app-account-details>