<h1>Login</h1>

<div>
    <form (ngSubmit)="onSubmit()" #userForm="ngForm">
        <label for="email">Email:</label><br>
        <input type="email" id="email" required [(ngModel)]="email" name="email" #name="ngModel"><br>

        <label for="password">Password:</label><br>
        <input type="text" id="password" required [(ngModel)]="password" name="password" #name="ngModel"><br>

        <button type="submit">Log In</button>
        <button routerLink="/signup">Sign Up</button>
    </form>
</div>
